# Sensitive files
*backup-codes*
*.bak
CLAUDE.md

# Default Visual Studio stuff
[Bb]in/
[Oo]bj/
*.suo
*.user
*.userosscache
*.sln.docstates
*.pdb
*.cache
*.log
*.vs/
*.vscode/
*.resharper
*.ncrunch*
*.suo
*.userprefs
